
body{
    background-image: url("img/fondo.jpg");
    background-size: 250%;
    padding:0px ;
    margin: 0px;
    
            
}





   

 
 .logo img{
   box-sizing: border-box;
    position: absolute;
    float:right;
    margin: 27.5em;
    margin-left:69%;
    
    
 }
 
  .logo1 p{
   box-sizing: border-box;
    position: relative;
    float:left;
    margin: 20.5em;
    margin-left:69%;
    
    
 }
.menu{
    margin: 0px;    
    font-family: arial,sans-serif;
    border-top:5px;
     margin: auto auto auto 65px;
    }




ul , ol {
    
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
     z-index: 1;
   
}
            
nav{
    top:0px;
      } 
       
       


.nav li a {
    
    border-top: 2px outset #DDD;
    border-bottom: 2px outset #DDD;
    background-color: 	#008080;
    color:  #fff;
    width: 150px;
    height:0.9em;
    display:inline-block;
    padding:0.5em;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 5px 5px 2px 2px;
    box-shadow:  5px 4px 10px 1px #050000;
    
    
}
             
         .nav li a:hover {
            background-color:#434343; 
            }    
             
             
        .nav > li {
            float: left;
            position : relative;
                        
        }

        
        .nav li ul {
             
            display: none;
            min-width: 105px;
            top:10px;
            
                      }

        .nav li:hover > ul {
            display: block;
            
          }

          
          .nav li ul li {
             position: relative;           
          }

          
          .nav li ul li ul {
            right:  -140px;
            top:  0px;
            
          }
          
      
          
        
   
