
#logo {
    
   box-sizing: border-box;
    position: relative;
    float:right;
    margin: 0.5em;
    margin-left:87%;
   
  
   
  
   
}


#slider { 
  
    text-align: center; 
    box-sizing: border-box;   
    width:970px;
    height:1420px;
    margin: 30px auto 10px auto;
    padding-left: auto;
    background-color: #FFF;
    box-shadow:  5px 4px 10px 1px #050000;    
    border-radius: 5px 5px 2px 2px;
    
  
}




#overflow {
  width: 100%;
  overflow:hidden;
}

#slides{   
    padding: 0px;
    z-index: 0;
    padding-top:70px;
    margin: 0px;
    

}

#slides img{
    box-sizing: border-box;
    height: 450px;
    width: 900px;
    
}

#slides .inner {
  
  width: 400%;
}

#slides .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);  
  transform: translateZ(0);

  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
 
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides article {
  
  width: 25%;
  float: left;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}



.boton label {
  background: #CCC;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 40px;
}

#slide1:checked ~ label[for="slide1"],
#slide2:checked ~ label[for="slide2"],
#slide3:checked ~ label[for="slide3"],
#slide4:checked ~ label[for="slide4"] {
  background: #333;
}


.content table{
    width: 100%;
}



.content table td {
   /* display: inline-block;*/
    text-align: left;
    border-left: 200px;
    border-right:  200px;
    width:  340px;
    min-height: 280px;
    padding:  1em ;
 
}

.content table tr td {
     font-family: arial,sans-serif;
   font-size: medium;   
    color: #666060;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.content table tr td a {
    color: #666060;
    text-decoration: none;
    padding-left: 2px;
        
}
 
.content table tr td:hover {
    background-color:	#52CCA3;
    color:  #fff;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
 }
 

/* CONTENIDO*/


.contenido{
   width: 80%;
   font-family: arial,sans-serif;
   font-size: medium;
   padding-left: 95px;
   text-align: justify;
}


 /* CONTACTO*/
 
 .contacto1{
   text-align: left;
   margin-left: 60px;
   font-family: arial,sans-serif;
   
 }

   

.pagecontacto {
   text-align: left;
   margin-left: 60px;
   background-color: 	#F5FFF5;
   font-family: arial,sans-serif;
   font-size: medium;
   
   
}

.pagecontacto1 {
   text-align: left;
   margin-left: 240px;
   background-color: 	#F5FFF5;
   font-family: arial,sans-serif;
   font-size: medium;
   
   
}
.registrate {
   box-sizing: border-box;
   float: right;
   width: 30%;
   position: relative;
   text-align: inherit;
   margin-right: 60px;
   background-color: 	#F5FFF5;
   font-family: arial,sans-serif;
   font-size: medium;
  
}

 
 /* GALERIA*/ 
 
 
 ul.gallery {
    
    list-style: none;
    
    
}
 
 
 ul.gallery li a {
    color: #666060;
    float: left;
    padding: 10px 10px 10px 10px;
    background:#EEE;
    border: 1px solid #fff;   
    float: left;
    padding: 10px 10px 25px 10px;
    
    border: 1px solid #fff;
    margin: 63px;
    box-shadow: 0px 2px 15px #333;
    position: relative;
    margin-left:  15%;
    margin-right: 0%;
    text-decoration:  none;
   font-size: large;
   font-family: sans-serif;
   text-align: center;
   
}



 
 
 ul.gallery li a.pic-1 {
    margin-top:  160px;
    z-index: 1;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}
ul.gallery li a.pic-2 {
    margin-top:  160px;
    z-index: 5;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}
ul.gallery li a.pic-3 {
    
    z-index: 3;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}
ul.gallery li a.pic-4 {
    z-index: 1;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}
ul.gallery li a.pic-5 {
    z-index: 5;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}
ul.gallery li a.pic-6 {
    z-index: 3;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}
 
 ul.gallery li a:hover {
    z-index: 10;
    box-shadow: 15px 5px 15px #333;
    
    
}






